<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-left">
        <div class="logo">
          <a href="/">Azbuka<span>Hotels</span>.ru</a>
        </div>
        <p>Все права защищены 2018</p>
      </div>
      <div class="col-md-4 col-center">
        <div class="social">
          <span>Мы в соц. сетях:</span>
          <a href="#" class="social-vk"></a>
          <a href="#" class="social-fb"></a>
        </div>
        <p>На нашем сайте Вы найдете актуальную информацию о текущих специальных предложениях с максимальной скидкой. Экономьте, бронируя день-в-день</p>
      </div>
      <div class="col-md-4 col-right">

        <div class="footer-phone">
          <span>8 800 500 81 86</span>
          <a href="mailto:ahotels@mail.ru">ahotels@mail.ru</a>
        </div>
        <div class="callback-btn">
          <button>Заказать обратный звонок</button>
        </div>
      </div>
    </div>
  </div>
</div>
