<div class="advantages">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="icon-advantage ad-icon-1"></div>
        <div class="title-advantage">Первая система бронирования отелей на сутки и на час</div>
        <div class="desc-advantage">Экономьте с нам бонируя только то количество часов, которое Вам нужно</div>
      </div>
      <div class="col-md-3">
        <div class="icon-advantage ad-icon-2"></div>
        <div class="title-advantage">24/7</div>
        <div class="desc-advantage">Операторы помогут Вам круглосуточно найти и забронировать гостиницу по лучшей цене</div>
      </div>
      <div class="col-md-3">
        <div class="icon-advantage ad-icon-3"></div>
        <div class="title-advantage">Безупречность – наш стиль</div>
        <div class="desc-advantage">Нам действительно важно качество нашей работы</div>
      </div>
      <div class="col-md-3">
        <div class="icon-advantage ad-icon-4"></div>
        <div class="title-advantage">Скидки на бронирование гостиниц до 70%</div>
        <div class="desc-advantage">На нашем сайте Вы найдете актуальную информацию о текущих специальных предложениях с максимальной скидкой. Экономьте, бронируя день-в-день</div>
      </div>
    </div>
  </div>
</div>
