<div class="front-slider-footer">
  <div id="footer-slider" class="footer-slider">
    <div class="slide-bg">
      <div class="container slide-content-wrap">
        <div class="slide-title">Скидки до 60%</div>
        <div class="slide-text">На нашем сайте Вы найдете актуальную информацию о текущих спецпредложениях с максимальной скидкой. Экономьте, бронируя день-в-день</div>
        <a class="read-more">Подробнее</a>
      </div>
    </div>
    <button class="footer-prev-btn"></button>
    <button class="footer-next-btn"></button>
  </div>
</div>
