<div class="container">
  <div class="bg-title">Отзывы</div>
  <div id="reviews-wrapper">
    <div class="reviews-slider">
      <div class="review-text">Начну с того, что сайт имеет очень понятный, удобный и русифицированный интерфейс.
        Настолько интуитивный, что даже моя мама, которая не сильно дружит с компьютерами, может самостоятельно найти и забронировать нужный отель без проблем.
        Вариантов отелей по всему миру на  огромное количество, чтобы убрать все ненужные варианты (в моем случае хостелы и расположения в пригородах) я использую фильтр.
        Выбираю необходимые даты поездки, страну и город. Это основное. Далее ставлю галочки по тем позициям, которые мне нужны
      </div>
      <div class="user-wrap clearfix">
        <div class="user-picture">
          <div class="user-avatar">
            <p class="center">
              <img src="http://download.loveradio.ru/pub/1398369.jpg">
            </p>
          </div>
          <div class="quote-icon"></div>
        </div>
        <div class="user-info">
          <div class="user-name">Имя</div>
          <div class="location">Город</div>
        </div>
      </div>
    </div>
    <button class="prev-btn"></button>
    <button class="next-btn"></button>
  </div>
</div>
