<div class="conveniences" slot="services">
  <div class="wrapper">
    <label>Удобства</label>
    <div class="line">
      <div class="row">
        <div class="col-md-3">
          <span class="general">Общее</span>
        </div>
        <div class="col-md-9">
          Телевизор, кабельные каналы, фен, холодильник, электрочайник, номера звуко-изолированы, есть общая гостиная с телевизором
        </div>
      </div>
    </div>
    <div class="line">
      <div class="row">
        <div class="col-md-3">
          <span class="internet">Интернет</span>
        </div>
        <div class="col-md-9">
          Wi-Fi предоставляется на территории всего отеля бесплатно
        </div>
      </div>
    </div>
    <div class="line">
      <div class="row">
        <div class="col-md-3">
          <span class="arrival">Заезд</span>
        </div>
        <div class="col-md-9">
          с 12:00
        </div>
      </div>
    </div>
    <div class="line">
      <div class="row">
        <div class="col-md-3">
          <span class="exit">Выезд</span>
        </div>
        <div class="col-md-9">
          с 12:00
        </div>
      </div>
    </div>
    <div class="line">
      <div class="row">
        <div class="col-md-3">
          <span class="children">Размещение детей</span>
        </div>
        <div class="col-md-9">
          Дополнительное место для детей не предусмотрено
        </div>
      </div>
    </div>
    <div class="line">
      <div class="row">
        <div class="col-md-3">
          <span class="pets">Домашние животные</span>
        </div>
        <div class="col-md-9">
          Размещение домашних животных не допускается
        </div>
      </div>
    </div>
  </div>
</div>
